/* CSS Document */
*
{
	font-size:9pt;
	border:0;
	margin:0;
	padding:0;
	font-family:"ו";
	
}

body
{
	background-color:#1c77ac;
	background-image:url(../image/light.png);
	background-repeat:no-repeat;
	background-position:center top;
	
}

.logintop
{
	background-color:#FFCC00
	background-position:center top;
	width:100%;
	height:60px
}

.contain
{
	background-image:url(../image/loginbg3.png);
	background-repeat:no-repeat;
	background-position:center top;
	width:100%;
	height:100%;
	overflow:hidden;
	
}

.loginbody
{
	width:100%;
	height:700px;
	
}

.logindiv
{
	background-image:url(../image/logininfo3.png);
	background-repeat:no-repeat;
	margin-top:8%;
	margin-left:30%;
	width:692px;
	height:372px;
}

.loginform
{
	margin-top:10%;
	margin-left:35%;
	padding-top:70px;
	height:250px;
	width:400px;
	font-size;14px;
}

.loginform ul
{
	margin:0;
	padding:0;
	list-style:none;
}
.loginform ul li
{
	margin:0;
	list-style:none;
	padding-bottom:0;
	padding-top:25px;
	padding-left:20px;
	padding-right:0;
}

.loginuser
{
	width:299px;
	height:48px;
	background-image:url(../image/loginuser.png);
	border:none;
	padding-left:44px;
	
}
.loginpwd
{
	width:299px;
	height:48px;
	background-image:url(../image/loginpassword.png);
	border:none;
	padding-left:44px;
	
}

.loginbtn
{
	width:111px;height:35px;
	background-image:url(../image/buttonbg.png) repeat-x;
	font-weight:bold;
	cursor:pointer;
	
}

.loginbottom
{
	height:25px;
	width:100%;
	position:absolute;
	bottom:0;
	text-align:center;
}